@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 479px) {
  .services-container {
    justify-content: center;
  }
  .service-card {
    width: 100%;
  }
  .container {
    padding: 20px;
  }

  .row {
    flex-direction: column;
  }

  .our-dogs .row {
    flex-direction: row;
  }

  .about-us .col {
    width: 100%;
  }

  .our-dogs .col {
    width: 100%;
    flex-shrink: 0;
    height: 300px;
    margin-right: 10px;
    border-radius: 20px 0 20px 0;
    background-color: #ddd;
  }

  footer .col:first-child {
    text-align: center;
    margin-bottom: 20px;
  }
}
