body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 200%;
  font-weight: bold;
  margin: 0 0 1rem 0;
  text-align: center;
}

h2:after {
  display: block;
  height: 4px;
  width: 100px;
  content: " ";
  background-color: #ff0000;
  margin: 10px auto 0 auto;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
}

.header-logo {
  padding: 5px 30px;
}

.header-logo img {
  width: 60px;
  height: 60px;
}

.header-nav {
  display: flex;
  padding-right: 30px;
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin: 0 10px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 90%;
}

.header-nav a:hover,
.header-nav a:active {
  color: #ff0000;
}

.header-slider {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.header-slide {
  width: calc(100% - 40px);
  /* height: auto; */
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.5s ease-in-out;
  padding: 90px 20px;
}

.header-slide h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px #000;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-slide h2 {
  margin: 0;
  padding: 0;
}

.services {
  padding: 3rem 0;
  background-color: #e1e1e1;
  background-image: -webkit-linear-gradient(
      rgba(239, 3, 3, 0.9),
      rgba(239, 3, 3, 0.8),
      rgb(255, 255, 255, 0.6)
    ),
    url(../images/slide1.png);
  background-image: linear-gradient(
      rgba(239, 3, 3, 0.9),
      rgba(239, 3, 3, 0.8),
      rgb(255, 255, 255, 0.6)
    ),
    url(../images/slide1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-special {
  color: #ff0000;
}

.services .h-special {
  color: #fff;
}

.services p {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.services h2:after {
  display: block;
  height: 4px;
  width: 100px;
  content: " ";
  background-color: #fff;
  margin: 10px auto 0 auto;
}

.service-card-content h3::before {
  display: block;
  height: 2px;
  width: 50px;
  content: " ";
  background-color: #ff0000;
  margin: 0 auto 10px auto;
}

.services .service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .service .icon {
  width: 50px;
  height: 50px;
  background-color: #cc5500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  color: #fff;
  font-size: 24px;
}

.services .service h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.services .service p {
  font-size: 18px;
  font-weight: lighter;
}

#services {
  background-color: #f2f2f2;
  padding: 60px 0;
}

.circle-avarta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  border-radius: 50%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-card {
  width: 31%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  border-bottom: 3px solid #ff0000;
}

.service-card-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* for centering any text content */
}

.service-card-content i {
  color: #ffffff;
}

.service-card-content h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-card-content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #7a7a7a;
}

/* .our-dogs .container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  position: relative;
} */

.our-dogs {
  padding: 3rem 0;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
}

.our-dogs .container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.our-dogs .row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.our-dogs .col {
  width: 25%;
  flex-shrink: 0;
  height: 200px;
  margin-right: 10px;
  background-color: #ddd;
}

.our-dogs .col img {
  width: 100%;
  height: 70%;
}

/* .scroll-left,
.scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
} */

/* .our-dogs .row {
  display: flex;
  flex-direction: row;
} */

/* .our-dogs .col {
  width: calc(100% / 4);
  height: 200px;
  margin-right: 10px;
  background-color: #ddd;
} */

.our-dogs .col:last-child {
  margin-right: 0;
}

.our-dogs .scroll-left,
.our-dogs .scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.our-dogs .scroll-left:hover,
.our-dogs .scroll-right:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.our-dogs .scroll-left {
  left: 20px;
}

.our-dogs .scroll-right {
  right: 20px;
}

.our-dogs .scroll-left i,
.our-dogs .scroll-right i {
  font-size: 1.5rem;
  color: #f1f1f1;
}

/*Scroll right and left*/

.about-us {
  padding: 3rem 0;
  background-color: #ffffff;
  border-top: 2px solid #ff0000;
  border-bottom: 2px solid #000;
}

.about-us .row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-us .col {
  width: 50%;
  flex-shrink: 0;
  margin-right: 20px;
  /* padding: 1.5em 0; */
}

footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 0;
  text-align: center;
  border-top: 2px solid #ff0000;
}

footer p {
  font-size: 80%;
  font-weight: lighter;
  margin: 0;
  /* color: #7a7a7a; */
}
